{% extends "BlackhouseappBluehouseappBundle:layout:layout.html.twig" %}

{% block title %}修改个人资料{% endblock %}
{% block body %}
<div class="row-fluid">

    <div class="span7 box">
    <div style="width: 50%;margin: 0 auto">
        <div style="margin: 20px">
        {{form(form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}