{% extends "BlackhouseappBluehouseappBundle:layout:layout.html.twig" %}
{% block title %}
    修改节点
{% endblock %}
{% block body -%}
    <h1>修改节点</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_node') }}">
          返回列表
        </a>
    </li>

</ul>
{% endblock %}
