{% extends "BlackhouseappBluehouseappBundle:Backend/Admin/layout:layout.html.twig" %}
{% block title %}
    添加节点
{% endblock %}
{% block body -%}
    <h1>添加节点</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_node') }}">
           返回列表
        </a>
    </li>
</ul>
{% endblock %}
