{% extends "BlackhouseappBluehouseappBundle:layout:layout.html.twig" %}

{% block body -%}
    <h1>修改帖子</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">
            Back to the list
        </a>
    </li>

</ul>
{% endblock %}
