{% extends "BlackhouseappBluehouseappBundle:layout:layout.html.twig" %}

{% block title %}BanedIPs edit{% endblock %}

{% block body -%}
    <h1>Baned IP edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_banedips') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
