{% extends "BlackhouseappBluehouseappBundle:layout:layout.html.twig" %}
{% block title %}  添加屏蔽IP{% endblock %}
{% block body -%}
    <h1>添加禁用IP</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_banedips') }}">
          返回列表
        </a>
    </li>
</ul>
{% endblock %}
