{% extends "BlackhouseappBluehouseappBundle:layout:layout.html.twig" %}


{% block title %}  修改分类{% endblock %}

{% block body -%}
    <h2>修改分类</h2>

    {{ form(edit_form) }}


    <div class="clearfix" style="margin:40px 0px">
        <div class="pull-left">
            <a href="{{ path('admin_category') }}">
                <button class="btn btn-default">返回</button>
            </a>
        </div>


    </div>


{% endblock %}
