{% extends "BlackhouseappBluehouseappBundle:layout:layout.html.twig" %}
{% block title %}
    添加分类
{% endblock %}
{% block body -%}
    <h1>添加分类</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_category') }}">
           返回列表
        </a>
    </li>
</ul>
{% endblock %}
